@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<HospitalManagementSystem.Models.Patient>
<h2>My Patients</h2>
<table class="table">
    <thead><tr><th>Name</th><th>DOB</th><th>Contact</th></tr></thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.FullName</td>
                <td>@p.DOB.ToShortDateString()</td>
                <td>@p.ContactNumber</td>
            </tr>
        }
    </tbody>
</table>
