@model HospitalManagementSystem.Models.Invoice
@{
    ViewData["Title"] = "Mark Invoice as Paid";
}
<h2>Mark Invoice as Paid</h2>
<div>
    <h4>Are you sure you want to mark this invoice as paid?</h4>
    <dl class="row">
        <dt class="col-sm-2">Invoice #</dt>
        <dd class="col-sm-10">@Model.InvoiceId</dd>
        <dt class="col-sm-2">Amount</dt>
        <dd class="col-sm-10">@Model.Amount.ToString("C")</dd>
        <dt class="col-sm-2">Patient</dt>
        <dd class="col-sm-10">@Model.Patient?.FullName</dd>
    </dl>
    <form asp-action="MarkAsPaid" method="post">
        <input type="hidden" asp-for="InvoiceId" />
        <button type="submit" class="btn btn-success">Mark as Paid</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>